@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

pre:not(.overflow-whee) {
  white-space: pre-wrap;
  font-family: inherit;
}

body {
  /* make gradien from white to amber three hundred from top to bottom of page */
  /* background: linear-gradient(180deg, #fff 0%, rgb(252 211 77) 100%); */
  background: linear-gradient(180deg, #fff 0%, rgb(253 230 138) 100%);
  /* background: linear-gradient(180deg, #fff 0%, rgb(254 243 199) 100%); */
  /* @apply bg-amber-200 */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}